@font-face {
    font-family: "Neris Black";
    src: url('../fonts/Neris/Neris-Black.otf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Neris SemiBold";
    src: url('../fonts/Neris/Neris-SemiBold.otf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Neris Light";
    src: url('../fonts/Neris/Neris-Light.otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Cambria";
    src: url('../fonts/cambria/cambria.ttf');
    font-weight: normal;
    font-style: normal;
}


